In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Extra.csv')

In [3]:
df.head (10)

,Unnamed: 0,userID,Track,artist,genre,City,time,Day
0,0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
5,5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
6,6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8,8FA1D3BE,L’estate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
9,9,E772D5C0,Pessimist,NaN,dance,Shelbyville,21:20:49,Wednesday

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10 non-null     int64
 1   userID      10 non-null     object
 2   Track       10 non-null     object
 3   artist      9 non-null      object
 4   genre       10 non-null     object
 5   City        10 non-null     object
 6   time        10 non-null     object
 7   Day         10 non-null     object
dtypes: int64(1), object(7)
memory usage: 768.0+ bytes

In [5]:
df.columns

Index(['Unnamed: 0', 'userID', 'Track', 'artist', 'genre', 'City', 'time',
       'Day '],
      dtype='object')

In [6]:
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [7]:
df.head(10)

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L’estate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Shelbyville,21:20:49,Wednesday

In [8]:
df = df.rename(
   columns = {
       'userID':'user_id',
       'Track':'track',
       'City':'city',
       'Day ':'day'
})

In [9]:
df.columns

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

In [10]:
columns_to_replace =['artist']

for row in columns_to_replace:
    df[row] = df[row].fillna('unknown')

In [11]:
df.day

0    Wednesday
1       Friday
2    Wednesday
3       Monday
4       Monday
5       Friday
6    Wednesday
7    Wednesday
8       Friday
9     Wednesday
Name: day, dtype: object

In [12]:
for i in range(10):    
    df['day'][i] = df['day'][i].strip(' ')

In [13]:
df.day

0    Wednesday
1       Friday
2    Wednesday
3       Monday
4       Monday
5       Friday
6    Wednesday
7    Wednesday
8       Friday
9    Wednesday
Name: day, dtype: object

# *Гипотеза 1: Активность пользователей различается в зависимости от дня недели и от города к городу* <a id='activity'></a>

In [14]:
pd.pivot_table(df,
         index =['day'],
         columns=['city'],
         values = ['time'],
         aggfunc="count")

                 time
city      Shelbyville Springfield
day
Friday              1           2
Monday              1           1
Wednesday           3           2